.idea/
.vscode/
__pycache__/
.tox/
.coverage
.coverage.*
htmlcov/
docs/_build/
dist/

# ignore dependencies: nodejs: node_modules, python: venv
node_modules/
venv/

# ignore data
uploads/
# data/

# ignore env vars
.env

# ignore db
*.db

flask_session/

# ignore logs
*.log

# temp files
draft.py