<nav class="background-color dark:bg-gray-900 fixed w-full top-0 start-0 border-gray-200 dark:border-gray-600 py-2">
  <div class="max-w-screen-xl flex flex-row-reverse flex-nowrap items-center justify-between mx-auto p-4 md:px-4 mb-5">
    <!-- <a href="https://gemadept.com.vn/" class="flex items-center space-x-3 rtl:space-x-reverse">
      Logo goes here
      <img src="https://www.gemadept.com.vn/img/nav/logo.png" class="h-8" alt="GMD Logo" />
    </a> -->
    <!-- <div>
      <p >Thi Ảnh Đẹp GMD 2024</p>
    </div> -->
    
  </div>
</nav>
  
