<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-nowrap items-center justify-between mx-auto p-4 md:px-4 ">
    <a href="https://gemadept.com.vn/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <!-- Logo goes here -->
      <img src="https://www.gemadept.com.vn/img/nav/logo.png" class="h-8" alt="GMD Logo" />
    </a>
    <!-- <div>
      <p >Thi Ảnh Đẹp GMD 2024</p>
    </div> -->
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <span
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <a class="text-white no-underline" href="https://drive.google.com/file/d/1FC-hRvhTb2bjTkKqztaYtglJkTdViEBg/view">Xem thể
          lệ</a>
      </span>
    </div>
  </div>
</nav>
  
